<mat-drawer-container class="container" autosize>
    <mat-drawer class="sidenav" mode="side">
        <mat-grid-list cols="1" rowHeight="50px">
            <mat-grid-tile  
                *ngFor="let button of buttons"
                [colspan]="1"
                [rowspan]="1"
                >
                <button (click)="showElement(button.name)" mat-button class="button-weight-full">{{button.name}}</button>
            </mat-grid-tile>
          </mat-grid-list>
    </mat-drawer>
  
    <div class="sidenav-content" >
        <app-basic-component *ngIf="buttons[0].show"></app-basic-component>
        <app-encapsulation-component *ngIf="buttons[1].show"></app-encapsulation-component>
        <app-hero-parent *ngIf="buttons[2].show"></app-hero-parent> 
    </div>
  
  </mat-drawer-container>